.container {
    overflow-y: scroll;
    height: 756px;
}

.category {
    list-style-type: none;
}

.ingredients__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}